:root {
    --cor-primaria: #E9E9E9;
    --cor-secundaria: #CDCDCD;
    --cor-terciaria: #88BBD6;
    --cor-hover: #272727;


    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.main_forms {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



